* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.nav {
    width: 100%;
    background-color: rgb(255, 213, 0);
    /* unchanged */
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 120px;
    width: 90%;
    margin-right: 60px;
    margin-bottom: 8px;
}

.logo {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    margin: 3px;
    margin-left: 25px;
}

#logo1 {
    border-radius: 50%;
}

.list {
    list-style: none;
    text-align: center;
    align-self: end;
    font-size: larger;
}

.inlist {
    position: relative;
    text-decoration: none;
    color: black;
}

.inlist::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.inlist:hover::after {
    width: 100%;
}


main {
    margin-top: 78px;
}

.fpage {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 40px 40px;
    gap: 20px;

}

.card1 {

    background-color: rgb(255, 213, 0);
    /* unchanged */
    width: 320px;
    height: 380px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

#ani {
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 8px;

}

#ani-descrip {
    width: 100%;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 13px;
    /* margin-right: ; */

}

.card2 {
    background-color: rgb(255, 213, 0);
    width: 800px;
    height: 380px;
    padding: 20px;
    border-radius: 12px;
    padding: 40px;
    overflow-y: scroll;
    scrollbar-width: none;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

/* Title */
.about-title {
    font-size: 2rem;
    font-family: sans-serif;
    margin-bottom: 40px;
    /* text-align: start; */
}


.card1:hover,
.card2:hover {
    transform: scale(1.02);
}




.page2 {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        /* margin-top: 20px; */
        /* margin-bottom: 30px; */
    }

}

.page2group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    flex-wrap: wrap;
}

.page2-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 213, 0);
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 150px;
    height: 150px;
    transition: all 0.3s ease;
}

#page2-card-img {
    background-color: white;
    border: 2px solid black;
    /* margin-right: 2%; */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: contain;
    min-width: 120px;
    text-align: center;
}

#skill-desc {
    margin-top: 8%;
    /* background-color: white; */
    font-family: sans-serif;
}


.page2-card:hover {
    transform: scale(1.1);

}


.page3 {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
        /* margin-top: 20px; */
        /* margin-bottom: 20px; */
    }
}

.page3group {
    /* gap: 30px; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* background-color: antiquewhite; */
    padding: 20px;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.page3-card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 240px;
    height: 300px;
    align-items: center;
    background-color: rgb(255, 213, 0);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    transition: all 0.3s ease;
}

#page3img {
    width: 100%;
    /* height: 100%; */
    flex: 1;
    object-fit: cover;
    border-radius: 11px;
    transition: all 0.3 ease;
}

#page3card1head {
    margin-top: 1rem;
    text-align: start;
    font-size: 14px;
    /* border: 1px solid black; */
    width: 220px;
    font-family: sans-serif;
}

#page3card1desc {
    margin-top: 0.7rem;
    text-align: start;
    font-family: sans-serif;
    font-size: 14px;
    display: -webkit-box;
    /* required */
    -webkit-box-orient: vertical;
    /* required */
    -webkit-line-clamp: 2;

    overflow: hidden;
    line-height: 1.6;
    color: #444;
}

.page3card1footer {
    width: 220px;
    /* margin: 0.3rem; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 6px; */
    padding-bottom: 8px;
}

#page3card1footerlive {
    font-size: 18px;
    /* font-family: sarif; */
    padding: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    /* margin-bottom: 2rem; */
}


.page3-card:hover {
    transform: scale(1.1);
}

#page3card1footerlive:hover {
    transform: scale(1.1);
    color: aliceblue;
}

/* #page3img:hover{
     transform: scale(1.1);
} */

.fooSection {
    margin-top: 50px;
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* top: 0; */
    width: 100%;
}

.foosectionchild {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    width: 100;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.page4-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.page4 {
    display: flex;
    width: 300px;
    background-color: rgb(255, 213, 0);
    border-radius: 8px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.15);
    padding: 12px;
    transition: all 0.3s ease;
    /* cursor: pointer; */

}

#page4img {
    margin: 0.5rem;
    width: 60px;
    height: 60px;
}

.page4carddesc {
    display: flex;
    flex-direction: column;
}

#page4cardhead {
    margin-top: 0.5rem;
    font-size: medium;
    font-family: sans-serif;
    color: #444;
}

#page4cardheaddesc {
    margin-top: 0.2rem;
    font-size: 16px;
    line-height: 1.1;
    color: #555;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.page4:hover {
    transform: scale(1.1);
}

#headingofpages {
    position: relative;
    display: inline-block;
    align-self: center;
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    font-family: sans-serif;
    font-size: 25px;
}


#headingofpages::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0;
    height: 3px;
    background-color: #000;

    transition: width 0.3s ease;
}


#headingofpages:hover::after {
    width: 100%;

}

@media ((min-width: 375px) and (max-width: 430px)) {

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
        margin-right: 15px;
        font-size: 30px;
        cursor: pointer;
        text-shadow: 10px 10px 10px 10px solid black;
    }

    .logo {
        margin-left: 15px;
    }
    .nav-right{
        display: none;
    }
    /* .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    #ani-descrip{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }

    .nav-right.tg {
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px 0;
        overflow: hidden;

        transform: translateY(-10px);
        transition: all 0.3s ease;
        padding-right: 20px;

    }

    .inlist.tg:hover {
        text-decoration: underline;

        /* color: cornsilk; */

    }
}


@media (max-width:325px) {
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
        margin-right: 15px;
        font-size: 30px;

    }

    .logo {
        margin-left: 12px;
    }

    .nav-right {
        display: none;
    }


    #ani {
        width: 200px;
        height: 200px;
    }

    .nav-right {
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;

        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 16px 0;

        max-height: 0;
        opacity: 0;
        overflow: hidden;

        transform: translateY(-10px);
        transition: all 0.3s ease;
    }

    .nav-right.tg {
        display: flex;
        max-height: 260px;
        opacity: 1;
        transform: translateY(0);
    }
    .card1{
        height: 330px;
    }

}

@media((min-width:435px) and (max-width:769px)) {
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
        margin-right: 15px;
        font-size: 30px;

    }

    .logo {
        margin-left: 15px;
    }

    .nav-right {
        display: none;
    }

    .fpage {
        justify-content: center;

    }

    .nav-right.tg {
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px 0;
        overflow: hidden;

        transform: translateY(-10px);
        transition: all 0.3s ease;
        padding-right: 20px;

    }

    .inlist.tg:hover {
        text-decoration: underline;

        /* color: cornsilk; */

    }



}